// Main styles variables
$defaultColor: #b9cee3;
$defaultBackgroundColor: #19191C;

// Chart background variables
$chartDefaultGradientAngle: 90deg;
$chartDefaultGradientStart: #18284833;
$chartDefaultGradientEnd: #4b6cb733;
$chartDefaultBlurSize: 10px;

body {
  height: 100%;
}

body {
  color: $defaultColor;
  background: radial-gradient(circle at 20% 10%, #485591 0%, #252b54 50%);
  background-repeat: no-repeat;
  background-color: #242b53;
}