#main {
  height: 100%;
  
  .container-fluid {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    background-color: #19191C;
    color: white;

    &>.row {
      box-shadow: 0px 0px 10px 1px rgba(0,0,0,.4);
    }

    &:before {
      content: '';
      width: 110%;
      height: 110%;
      top: -5%;
      left: -5%;
      position: absolute;
      background: linear-gradient(90deg, #18284833 0%, #4b6cb733 100%);
      filter: blur(10px);
    }
  }
}